<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>a</title>
</head>
<body>
	<h1>Menu Calculadora</h1>
	<ul>
		<li><a href="calculoSuma?num1=700&num2=300">Sumar</a></li> <!-- Envio de variables al controller con thymeleaf -->
		<li><a href="calculoResta?num1=700&num2=300">Resta</a></li>
		<li><a href="calculoMult?num1=50&num2=2">Multiplicacion</a></li>
		<li><a href="calculoDiv?num1=600&num2=300">Division</a></li>
		<li><a href="calculoPot?num1=2&num2=4">Potencia</a></li>
		<li><a href="calculoRaiz?num1=125&num2=3">Raiz</a></li>
	</ul>
</body>
</html>